{% macro sidebar(config, lang, current_path, section) %}
<div id="sidebar" class="drawer-side fixed top-0 pt-12 bottom-0 z-40 border-r border-gray-500/15">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <div class="p-4 w-80 min-h-full text-base-content overflow-y-auto">
        <ul class="menu w-full mt-4">
            {% set index = get_section(path="_index.md") %}
            {% for s in index.subsections %}
                {% set subsection = get_section(path=s) %}
                {% set is_active = current_path is starting_with(subsection.path) %}
                <li>
                    {% if subsection.subsections %}
                        <details {% if is_active %}open{% endif %}>
                            <summary {% if current_path == subsection.path %}class="rounded bg-gray-500/15"{% endif %}>
                                <a class="hover:no-underline" href="{{ get_url(path=subsection.path, lang=lang) | safe }}">{{ subsection.title }}</a>
                            </summary>
                            <ul>
                                {% for subs in subsection.subsections %}
                                    {% set subsubsection = get_section(path=subs) %}
                                    {% set is_sub_active = current_path is starting_with(subsubsection.path) %}
                                    <li>
                                        {% if subsubsection.pages %}
                                            <details {% if is_sub_active %}open{% endif %}>
                                                <summary {% if current_path == subsubsection.path %}class="rounded bg-gray-500/15"{% endif %}>
                                                    <a href="{{ get_url(path=subsubsection.path, lang=lang) | safe }}">{{ subsubsection.title }}</a>
                                                </summary>
                                                <ul>
                                                    {% for page in subsubsection.pages %}
                                                        <li {% if current_path == page.path %}class="rounded bg-gray-500/15"{% endif %}>
                                                            <a class="hover:no-underline" href="{{ get_url(path=page.path, lang=lang) | safe }}">{{ page.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </details>
                                        {% else %}
                                            <a class="hover:no-underline" {% if current_path == subsubsection.path %}class="rounded bg-gray-500/15"{% endif %} href="{{ get_url(path=subsubsection.path, lang=lang) | safe }}">{{ subsubsection.title }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </details>
                    {% elif subsection.pages %}
                        <details {% if is_active %}open{% endif %}>
                            <summary {% if current_path == subsection.path %}class="rounded bg-gray-500/15"{% endif %}>
                                <a href="{{ get_url(path=subsection.path, lang=lang) | safe }}">{{ subsection.title }}</a>
                            </summary>
                            <ul>
                                {% for page in subsection.pages %}
                                    <li {% if current_path == page.path %}class="rounded bg-gray-500/15"{% endif %}>
                                        <a href="{{ get_url(path=page.path, lang=lang) | safe }}">{{ page.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </details>
                    {% else %}
                        <a {% if current_path == subsection.path %}class="rounded bg-gray-500/15"{% endif %} href="{{ get_url(path=subsection.path, lang=lang) | safe }}">{{ subsection.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro sidebar %}