<figure class="diff aspect-16/9" tabindex="0">
  <div class="diff-item-1" role="img" tabindex="0">
    <img alt="{{ alt | default(value="Image diff original") }}" src="{{ src1 | replace(from=`@/static/`, to=get_url(path=``, trailing_slash=true)) | replace(from=`@/content/`, to=get_url(path=``, trailing_slash=true)) }}" />
  </div>
  <div class="diff-item-2" role="img">
    <img alt="{{ alt | default(value="Image diff changed") }}" src="{{ src2 | replace(from=`@/static/`, to=get_url(path=``, trailing_slash=true)) | replace(from=`@/content/`, to=get_url(path=``, trailing_slash=true)) }}" />
  </div>
  <div class="diff-resizer"></div>
</figure>
