@import "tailwindcss" source(none);
@source "../templates/**/*.{html,md}";
@source "../content/**/*.{html,md}";
@plugin "./daisyui.js" {
    themes:
        night --default,
        lofi;
}

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */
@plugin "./daisyui-theme.js" {
}

@layer base {
    /* Article base styling */

    html {
        scroll-padding-top: 130px;
    }

    body {
        line-height: 30.6px;
        color: var(--color-base-content);
        font-size: 18px;
    }

    h1 {
        @apply text-3xl font-bold mb-4 text-base-content;
    }

    h2 {
        @apply text-2xl font-bold mt-10 mb-4 text-base-content;
    }

    h3 {
        @apply text-xl font-bold mt-10 mb-4 text-base-content;
    }

    h4 {
        @apply text-lg font-bold mt-10 mb-4 text-base-content;
    }

    p {
        @apply my-4;
    }

    main ul {
        @apply list-disc list-inside;
        @apply mb-4;
    }

    main ol {
        @apply list-decimal list-inside;
        @apply mb-4;
    }

    main ul ul,
    main ol ol {
        @apply ml-6;
        @apply mb-0;
    }

    a {
        @apply text-base-content font-bold;
        @apply hover:link;
    }

    img {
        @apply w-full h-auto rounded-lg;
    }

    pre {
        @apply overflow-x-auto bg-base-200 text-base-content p-4 rounded-lg my-4 break-all whitespace-pre;
        @apply @max-2xl:w-full;
    }

    pre code {
        @apply text-sm;
        @apply whitespace-pre-wrap;
    }

    :not(pre) > code {
        @apply kbd kbd-sm;
    }

    blockquote {
        @apply text-base-content;
        @apply italic;
        @apply border-l-2;
        @apply border-gray-500;
        @apply pl-4;
        @apply mb-4;
    }

    blockquote p {
        @apply py-0;
    }

    blockquote cite {
        @apply block mt-2 text-right text-sm text-base-content;
    }

    table {
        @apply table;
        @apply w-full my-4;
        @apply table-zebra;
        @apply mb-4;
    }

    th,
    td {
        @apply border border-base-300 px-4 py-2;
    }

    em {
        @apply italic text-sm;
        @apply text-base-content;
    }

    /* Color definitions for the syntax highlighting */
    .z-code {
        @apply text-base-content;
        @apply bg-base-100;
    }
}

.nav-menu {
    @apply text-base-content hover:text-primary transition-colors duration-200 no-underline hover:no-underline;
}
.gallery-box {
    margin-bottom: 30px;
}
.gallery-box em {
    display: inline-block;
    width: 100%;
    padding: 13px;
    font-size: 14px;
    font-style: normal;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.8); /* Assuming $text-color is white */
    background-color: #333; /* Assuming $dark is dark grey */
}
.gallery-box em a {
    text-decoration: underline;
    border-bottom: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
}
.gallery img {
    width: 100%;
    height: auto;
}

blockquote {
    position: relative;
    padding: 20px 20px 20px 20px;
    font-style: italic;
    font-size: 21px;
    line-height: 37px;
    font-weight: 700;
}

blockquote cite {
    font-size: 16px;
    font-style: normal;
}

blockquote cite:before {
    content: "- ";
}

@media only screen and (max-width: 768px) {
    /* Assuming $mobile is 768px */
    blockquote {
        padding: 20px 20px 20px 35px;
        font-size: 18px;
        line-height: 28px;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@import "./syntax-highlight.css";

.copy-code-button {
    visibility: hidden;
    position: absolute !important;
    top: 0.5em !important;
    right: 0.5em !important;
    color: #fff;
    border: none;
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 0.6em;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.copy-code-button:hover {
    opacity: 1;
}

pre {
    position: relative !important;
}

pre:hover .copy-code-button {
    visibility: visible;
}

.grayscale {
    filter: grayscale(100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
}

.copy-heading-link-button {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

h1:hover .copy-heading-link-button,
h2:hover .copy-heading-link-button,
h3:hover .copy-heading-link-button,
h4:hover .copy-heading-link-button,
h5:hover .copy-heading-link-button,
h6:hover .copy-heading-link-button {
    visibility: visible;
}

.copy-heading-link-button:hover {
    opacity: 1;
}

.copy-heading-link-button svg {
    width: 1rem;
    height: 1rem;
    margin: auto;
}

.copy-heading-link-tooltip {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
}

.copy-heading-link-button:hover .copy-heading-link-tooltip {
    visibility: visible;
}
